In [1]:
import time
import pyspark
import pyspark.sql.types as t
import pyspark.sql.functions as f
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, split, count, desc, row_number, col, length
from pyspark.sql.window import Window
from tabulate import tabulate

In [2]:
pyspark.__version__

'3.3.2'

In [3]:
spark = (
    SparkSession
    .builder
    .appName("MovieLens Analysis dev-mode") 
    .master("local[*]")
    .config("spark.sql.adaptive.enabled", "true") 
    # .config("spark.sql.shuffle.partitions", "8") 
    .getOrCreate()
)

24/04/17 20:58:37 WARN Utils: Your hostname, codespaces-f652b0 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/04/17 20:58:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/04/17 20:58:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
print(spark.sparkContext.defaultParallelism)

4

In [15]:
# Read ratings.csv, tags.csv, and movies.csv
ratings_df = spark.read.csv("../input_data/ratings.csv", header=True)
tags_df = spark.read.csv("../input_data/tags.csv", header=True)
movies_df = spark.read.csv("../input_data/movies.csv", header=True)

In [6]:
tags_df = (
    tags_df
    .withColumn('date_col', f.from_unixtime('timestamp').cast("timestamp"))
)
tags_df.show(5)

+------+-------+-------------+----------+-------------------+
|userId|movieId|          tag| timestamp|           date_col|
+------+-------+-------------+----------+-------------------+
|    18|   4141|  Mark Waters|1240597180|2009-04-24 18:19:40|
|    65|    208|    dark hero|1368150078|2013-05-10 01:41:18|
|    65|    353|    dark hero|1368150079|2013-05-10 01:41:19|
|    65|    521|noir thriller|1368149983|2013-05-10 01:39:43|
|    65|    592|    dark hero|1368150078|2013-05-10 01:41:18|
+------+-------+-------------+----------+-------------------+
only showing top 5 rows

In [16]:
movies_df = (
    movies_df
    .withColumn("title_part", f.regexp_extract(col("title"), r'^(.*) \((\d{4})\)$', 1))
    .withColumn("Year_part", f.regexp_extract(col("title"), r'^(.*) \((\d{4})\)$', 2))
    .withColumn('Inconsistent_Category', 
                f.when(f.isnull("year_part"), "Missing Year")
                .when((f.isnull("title_part")) | (col('title_part')=='')
                      , "Missig Title"
                     )
                .otherwise("No inconsistency")
               )
)

inconsistent_count_df = (
    movies_df
    .groupBy('Inconsistent_Category')
    .count()
)

inconsistent_count_df.show()

+---------------------+-----+
|Inconsistent_Category|count|
+---------------------+-----+
|     No inconsistency|27039|
|         Missig Title|  239|
+---------------------+-----+

In [17]:
movies_df.show(truncate=False)

+-------+-------------------------------------+-------------------------------------------+------------------------------+---------+---------------------+
|movieId|title                                |genres                                     |title_part                    |Year_part|Inconsistent_Category|
+-------+-------------------------------------+-------------------------------------------+------------------------------+---------+---------------------+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|Toy Story                     |1995     |No inconsistency     |
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |Jumanji                       |1995     |No inconsistency     |
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |Grumpier Old Men              |1995     |No inconsistency     |
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |Waiting to Exhale             |1995     |No inconsistency     |
|5      |Father of the Bride Part II (1995)   |Comedy                                     |Father of the Bride Part II   |1995     |No inconsistency     |
|6      |Heat (1995)                          |Action|Crime|Thriller                      |Heat                          |1995     |No inconsistency     |
|7      |Sabrina (1995)                       |Comedy|Romance                             |Sabrina                       |1995     |No inconsistency     |
|8      |Tom and Huck (1995)                  |Adventure|Children                         |Tom and Huck                  |1995     |No inconsistency     |
|9      |Sudden Death (1995)                  |Action                                     |Sudden Death                  |1995     |No inconsistency     |
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |GoldenEye                     |1995     |No inconsistency     |
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |American President, The       |1995     |No inconsistency     |
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |Dracula: Dead and Loving It   |1995     |No inconsistency     |
|13     |Balto (1995)                         |Adventure|Animation|Children               |Balto                         |1995     |No inconsistency     |
|14     |Nixon (1995)                         |Drama                                      |Nixon                         |1995     |No inconsistency     |
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |Cutthroat Island              |1995     |No inconsistency     |
|16     |Casino (1995)                        |Crime|Drama                                |Casino                        |1995     |No inconsistency     |
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |Sense and Sensibility         |1995     |No inconsistency     |
|18     |Four Rooms (1995)                    |Comedy                                     |Four Rooms                    |1995     |No inconsistency     |
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |Ace Ventura: When Nature Calls|1995     |No inconsistency     |
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |Money Train                   |1995     |No inconsistency     |
+-------+-------------------------------------+-------------------------------------------+------------------------------+---------+---------------------+
only showing top 20 rows

In [6]:
# Function to print null value counts for a DataFrame
def print_null_info(df, name):
    null_info = []
    for col_name in df.columns:
        null_count = df.where(col(col_name).isNull()).count()
        null_info.append((col_name, null_count))
    
    print(f"Null values in {name} DataFrame:")
    print(tabulate(null_info, headers=["Column", "Null Count"], tablefmt="pretty"))

In [7]:
print_null_info(ratings_df, "ratings")

Null values in ratings DataFrame:
+-----------+------------+
|  Column   | Null Count |
+-----------+------------+
|  userId   |     0      |
|  movieId  |     0      |
|  rating   |     0      |
| timestamp |     0      |
+-----------+------------+

In [8]:
print_null_info(tags_df, "tags")

Null values in tags DataFrame:
+-----------+------------+
|  Column   | Null Count |
+-----------+------------+
|  userId   |     0      |
|  movieId  |     0      |
|    tag    |     0      |
| timestamp |     0      |
+-----------+------------+

In [9]:
print_null_info(movies_df, "movies")

Null values in movies DataFrame:
+---------+------------+
| Column  | Null Count |
+---------+------------+
| movieId |     0      |
|  title  |     0      |
| genres  |     0      |
+---------+------------+

In [9]:
ratings_df.show(5)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|      2|   3.5|1112486027|
|     1|     29|   3.5|1112484676|
|     1|     32|   3.5|1112484819|
|     1|     47|   3.5|1112484727|
|     1|     50|   3.5|1112484580|
+------+-------+------+----------+
only showing top 5 rows

In [7]:
tags_df.show(5)

+------+-------+-------------+----------+
|userId|movieId|          tag| timestamp|
+------+-------+-------------+----------+
|    18|   4141|  Mark Waters|1240597180|
|    65|    208|    dark hero|1368150078|
|    65|    353|    dark hero|1368150079|
|    65|    521|noir thriller|1368149983|
|    65|    592|    dark hero|1368150078|
+------+-------+-------------+----------+
only showing top 5 rows

In [21]:
tags_df.printSchema()

root
 |-- userId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- tag: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [8]:
movies_df.show(5)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

In [12]:
# check the skewness of movieId column for partitioning
(
    ratings_df
    .groupBy('movieId')
    .agg(count('*').alias('count_by_movieId'))
    .count()
)

26744

In [19]:
# check the skewness of userId column for partitioning
movie_counts_df  = (
    ratings_df
    .groupBy('userId')
    .agg(count('*').alias('count_by_userId'))
)
movie_counts_df.count()

# # Assuming ratings_df contains your DataFrame
# ratings_df.createOrReplaceTempView("ratings")

# # Calculate min and max counts using Spark SQL
# min_max_counts_df = spark.sql("""
#     SELECT MIN(count_by_userId) AS min_count, MAX(count_by_userId) AS max_count
#     FROM (
#         SELECT COUNT(*) AS count_by_userId
#         FROM ratings
#         GROUP BY userId
#     )
# """)

# # Show the min and max counts
# min_max_counts_df.show()

138493

In [10]:
def most_common_tag_for_movie_title(tags_df, movies_df):
    """
    Function finds the most common tag for a movie title.

    Args:
    - tags_df: DataFrame containing tags data
    - movies_df: DataFrame containing movies data

    Returns:
    - DataFrame containing the most common tag for the movie title
    """
    movie_tag_df = movies_df.join(tags_df, "movieId", "left")
    most_common_tag_df = (
        movie_tag_df
        .groupBy("title", "tag")
        .agg(count("*").alias("tag_count"))
        .orderBy(desc("tag_count"))
    )

    # Get the row with the highest tag count for each movie
    # Title Memento (2000) had multiple tags (nonlinear, twist ending). Handle it
    window_spec = Window.partitionBy("title").orderBy(desc("tag_count"))
    most_common_tag_df = (
        most_common_tag_df
        .withColumn("rank", row_number().over(window_spec))
        .filter(col("rank") == 1).drop("rank")
        .orderBy(desc('tag_count'))
    )
    
    return most_common_tag_df

In [11]:
most_common_tag_df = most_common_tag_for_movie_title(tags_df, movies_df)

In [12]:
most_common_tag_df.show(10, truncate=False)

+--------------------------------------------+-----------------+---------+
|title                                       |tag              |tag_count|
+--------------------------------------------+-----------------+---------+
|Pulp Fiction (1994)                         |Quentin Tarantino|185      |
|Fight Club (1999)                           |twist ending     |150      |
|Memento (2000)                              |nonlinear        |145      |
|Usual Suspects, The (1995)                  |twist ending     |139      |
|Inception (2010)                            |alternate reality|128      |
|Eternal Sunshine of the Spotless Mind (2004)|surreal          |127      |
|Matrix, The (1999)                          |sci-fi           |120      |
|Silence of the Lambs, The (1991)            |serial killer    |113      |
|Twelve Monkeys (a.k.a. 12 Monkeys) (1995)   |time travel      |109      |
|Inglourious Basterds (2009)                 |Quentin Tarantino|108      |
+--------------------------------------------+-----------------+---------+
only showing top 10 rows

In [6]:
def most_common_genre_rated_by_user(ratings_df, movies_df):
    """
    Function finds the most common genre rated by a user.

    Args:
    - ratings_df: DataFrame containing ratings data
    - movies_df: DataFrame containing movies data

    Returns:
    - DataFrame containing the most common genre rated by a user
    """
    user_rating_df = ratings_df.join(movies_df, "movieId", "left")
    most_common_genre_df = (
        user_rating_df
        .withColumn("genre", explode(split("genres", "\\|")))
        .groupBy("userId", "genre")
        .agg(count("*").alias("genre_count"))
        .orderBy(desc("genre_count"))
    )
    # Get the row with the most common genre for each user
    # userId 104 has multiple (19). Handle it
    window_spec = Window.partitionBy("userId").orderBy(desc("genre_count"))
    most_common_genre_df = (
        most_common_genre_df
        .withColumn("rank", row_number().over(window_spec))
        .filter(col("rank") == 1).drop("rank")
        .orderBy(desc('genre_count'))
    )
    return most_common_genre_df

In [7]:
start_time = time.time()
most_common_genre_df = most_common_genre_rated_by_user(ratings_df, movies_df)
most_common_genre_df.show(20, truncate=False)
end_time = time.time()
elapsed_time = end_time - start_time
print("DataFrame creation time:", elapsed_time, "seconds")

+------+------+-----------+
|userId|genre |genre_count|
+------+------+-----------+
|118205|Drama |4857       |
|8405  |Drama |3684       |
|8963  |Drama |3240       |
|121535|Drama |3228       |
|82418 |Drama |3042       |
|130767|Drama |3003       |
|125794|Drama |2938       |
|131904|Drama |2907       |
|15617 |Drama |2693       |
|63147 |Drama |2661       |
|79159 |Drama |2501       |
|83090 |Drama |2421       |
|20132 |Drama |2351       |
|74142 |Comedy|2319       |
|125978|Drama |2308       |
|111549|Drama |2238       |
|105580|Drama |2193       |
|88820 |Drama |2190       |
|92011 |Drama |2117       |
|68026 |Drama |2073       |
+------+------+-----------+
only showing top 20 rows

DataFrame creation time: 27.89208197593689 seconds

In [9]:
most_common_genre_df.write.csv("../output_data/most_common_genre", header=True, mode="overwrite")

In [10]:
most_common_genre_df.show(20, truncate=False)

+------+------+-----------+
|userId|genre |genre_count|
+------+------+-----------+
|8405  |Drama |3684       |
|8963  |Drama |3240       |
|9544  |Drama |1702       |
|2261  |Drama |1479       |
|9034  |Drama |1449       |
|3907  |Drama |1407       |
|10303 |Drama |1371       |
|7201  |Drama |1359       |
|903   |Comedy|1178       |
|3318  |Comedy|1168       |
|3797  |Drama |1164       |
|4222  |Drama |1137       |
|6636  |Drama |1110       |
|6373  |Drama |1110       |
|6719  |Drama |1086       |
|4358  |Comedy|1080       |
|9087  |Drama |1051       |
|9545  |Drama |1005       |
|8647  |Comedy|976        |
|3625  |Drama |971        |
+------+------+-----------+
only showing top 20 rows

### Done